* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Load custom font */
@font-face {
    font-family: 'Gilroy';
    src: url('./Gilroy-Light.otf');
    font-style: normal;
    font-weight: normal;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://media.burford.co.uk/images/SNY04089.jpg_edit.width-640_ln7jm6QxYVkHFHaT.jpg");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 450px;
    font-size: 75px;
    color: whitesmoke;
    letter-spacing: 8px;
}

.mid-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button.buy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */

.box {
    background-color: rebeccapurple;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.box-body img {
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 150px;
    height: 200px;
    object-fit: cover;
}